*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Alegreya', serif;
}

.clr
{
    clear: both;
}

/*******************************************************************************************************************/

/*Header section*/
.header
{
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: 100% 110%;
    height: 100vh;
    text-align: center;
    font-weight: 500;
   
}
.header_top
    {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 6;
    } 

.header img
{
    text-align: left;
    position: fixed;
    top: 20px;
    left: 30px;
    width: 12%;
    z-index: 5;
    
}

.navbar
{
    position: fixed;
    right: 30px;
    top: 25px;
    z-index: 5;
    
    
}


.navbar ul
{
    list-style-type: none;
    color: white;
    
}

.navbar ul li
{
    display: inline;
    padding-right: 20px;
    font-size: 120%;

}

.navbar a
{
    text-decoration: none;
    color: white;
}


.header_text
{
    position: relative;
    top: 230px;
    color: white;
}

.header_text h1
{
    font-size: 450%;
    padding: 15px;
}

.header_text p
{
    
    font-size: 130%;
}

.header button
{
    
    border-radius: 5%;
    position: relative;
    top: 280px;
    color: white;
    font-size: 80%;
    font-weight: 700;
}

.button_learn
{
    background-color: rgb(163, 143, 105);
    border: none;
    padding: 20px 25px;
    margin-right: 10px;
}

.button_contact
{
    background-color: transparent;
    padding: 18px 25px;
    border-color: white;
    
}

/*media query*/
@media screen and  (max-width:992px)
{
    
    .header_top
    {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 6;
    } 
    .header 
    {
        font-size: 75%;
        transition: font-size 3s;
    }
}

/*******************************************************************************************************************/
/*Sidebar Section*/
.sidebar
{
    background-color: white;
    width: 40px;
    height: 15%;
    position: fixed;
    right: 0px;
    top: 40%;
    z-index: 5;

}
.sidebar button
{
    width:100%;
    height: 50%;
    border: none;
    cursor: pointer;
}

.shopping
{
    background-image: url(images/shopping.png);
    background-size: cover;
}

.setting
{
    background-image: url(images/setting.png);
    background-size: cover;
}

/*******************************************************************************************************************/

/*Who we are?  section*/

.who_we_are
{
    
    width: 95%;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 100px;
    
}


.who_we_are img
{
    width: 45%;
    float: left; 
    
    
}

.who_we_are_text
{
    width: 50%;
    float: right;
    position: relative;
    top: 60px;
     
}

.who_we_are_text h2
{
    font-size: 200%;
    font-weight: 200;
    color: rgb(65, 59, 59);
}

.who_we_are_text p
{
    color: rgb(117, 111, 111);
    padding: 20px 0px;
    line-height: 30px;
}

.who_we_are_text ul
{
    padding: 0px 30px;
    line-height: 60px;
    color: rgb(117, 111, 111);

}


/*media query*/
@media screen and  (max-width:992px)
{
    .who_we_are_text
    {
        width: 100%;
    }

    .who_we_are img
    {
        width: 100%;
    }
}

/*********************************************************************************************************************/
/*Our Location Section*/

.our_location
{
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 150px;
    
}

.our_location_text
{
    width: 45%;
    float: left;
    margin:50px 0px ;
}

.our_location_text h2
{
    font-size: 200%;
    font-weight: 200;
    color: rgb(65, 59, 59);
    padding-bottom: 20px;
}

.our_location_text p
{
    font-weight: 200;
    color: rgb(65, 59, 59);
    line-height: 30px;
}

.our_location img
{
    width: 45%;
    float: right;
    
}


/*media query*/
@media screen and  (max-width:992px)
{
    .our_location_text
    {
        width: 100%;
    }

    .our_location img
    {
        width: 100%;
    }
}

/******************************************************************************************************************/
/*our baking section */
.our_baking
{
    
    width: 95%;
    margin: auto;
    position: relative;
    top: 200px;
    text-align: center;
}

.our_baking_content
{
    width: 33.33%;
    float: left;
}

.our_baking_content img
{
    width:100%
}

.inner
{
    padding:10px;
    
}

.our_baking h2 
{
    font-size: 200%;
    font-weight: 200;
    color: rgb(65, 59, 59);
    padding:30px;
}

.our_baking p
{
    color :rgb(117, 111, 111); 
}

.our_baking h3
{
    font-size: 150%;
    font-weight: 200;
    color: rgb(65, 59, 59);
    padding:30px;
}



/*media query*/

@media screen and (min-width:992px) and (max-width:1200px)
    {
        .our_baking_content
        {
            width: 50%;
        }
    }
@media screen and (min-width:768px) and (max-width:992px)
    {
        .our_baking_content
        {
            width: 50%;
        }
    }
@media screen  and (max-width:768px)
    {
        .our_baking_content
        {
            width: 100%;
        }
    }

/******************************************************************************************************************/
/*Contact Information Section*/
.contact_info
{
    background-color:whitesmoke;
    width: 100%;
    margin: auto;
    position: relative;
    top: 250px;
    padding: 20px;
}

.contact_info_text
{
    width: 50%;
    float: left;
    line-height: 30px;
    position: relative;
    top: 20px;
    left: 20px;

}
.contact_info h2
{
    font-size: 200%;
    font-weight: 200;
    color: rgb(65, 59, 59);
    padding: 20px 0px;
}

.contact_info h3
{
    font-size: 120%;
    font-weight: 200;
    color: rgb(65, 59, 59);
    padding: 20px 0px;
}

.contact_info p
{
    font-weight: 200;
    color: rgb(65, 59, 59);
}

.contact_info ul
{
    padding-left: 20px;
    line-height: 40px;
    color: rgb(65, 59, 59);
}

.contact_info iframe
{
    width: 45%;
    height: 90%;
    float: right;
    padding:50px 20px;
    border: none;

}


@media screen and (max-width:992px)
    {
        .contact_info iframe
        {
            width: 100%;
        }

        .contact_info_text
        {
            width: 100%;
        }
    }

/*******************************************************************************************************************/
/*About Section*/
.about
{
    background-color: #403d38;
    color: rgb(141, 137, 137);
    margin: auto;
    position: relative;
    top: 250px;  
    padding: 20px 0px;
    line-height: 30px;
}
.about_item
{
    width: 25%;
    float: left;
    padding: 20px;
    
}

.brdr
{
    width: 90%;
    border-style: solid;
    border-color:  rgba(85, 83, 83,1);
    border-width: 1px;
}

.about h2
{
    padding: 20px 0px;
}

.about ul
{
    padding-left: 20px;
    line-height: 50px;
}




@media screen and (min-width:1200px)
{
    .about_item
    {
        width: 25%;
    }
}

@media screen and (min-width:992px) and (max-width:1200px)
{
    .about_item
    {
        width: 33.333%;
    }
}

@media screen and (min-width:768px) and (max-width:992px)
{
    .about_item
    {
        width: 50%;
    }
} 
    
@media screen  and (max-width:768px)
{   
    .about_item
    {
        width: 100%;
    }
} 

/***************************************************************************************************************/
/*Footer Section*/
.footer
{
    background-color: #353330;
    text-align: center;
    margin: auto;
    position: relative;
    top: 250px;  
    color: rgb(100, 98, 98);
    padding: 50px;
}

.footer img 
{
    margin-top: 40px;
}

.footer p
{
   margin: 20px;
}


.footer span
{
    margin: 20px;
}

.footer button
{
   
    width:40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    opacity: 20%;
    cursor: pointer;

}

.facebook
{
    background-image: url(images/facebook.png);
    background-size: cover;
}

.twitter
{
    background-image: url(images/twitter.png);
    background-size: cover;
}

.linkedin
{
    background-image: url(images/linkedin.png);
    background-size: 100% 95%;
    
}

.google
{
    background-image: url(images/google.png);
    background-size: cover;
}